body {
    background-color: #f4f6f9;
  }
  .content-wrapper {
    padding: 20px 0;
  }
  
  .small-box {
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
  }
  
  .small-box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .small-box h3 {
    font-weight: bold;
    font-size: 28px;
    margin: 20px 0;
  }
  
  .small-box-footer {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 12px 0;
    font-size: 18px;
    color: #fff;
    display: block;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: background-color 0.3s;
  }
  .small-box-footer:hover {
    background-color: rgba(0, 0, 0, 0.2);
    text-decoration: none;
  }
  .bg-yellow {
    background-color: #f39c12 !important; /* Strong yellow */
    color: white;
  }
  .bg-red {
    background-color: #e74c3c !important; /* Strong red */
    color: white;
  }
  .margin-top-50 {
    margin-top: 50px;
  }
  
  .margin-bottom-20 {
    margin-bottom: 20px;
  }
  
  .padding-5 {
    padding: 30px 10px;
  }
  

.hide-me {
  display: none;
}


body {
  background-color: #d3d7df;
  font-family: 'Arial', sans-serif;
}

.login-box {
  width: 360px;
  margin: 7% auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.login-logo a {
  color: #333;
  font-size: 30px;
  text-align: center;
  display: block;
  font-weight: bold;
}

.login-box-body {
  padding: 20px;
}

.login-box-msg {
  margin: 0;
  text-align: center;
  padding: 0 0 20px 0;
  font-size: 18px;
  color: #555;
}

.form-control {
  height: 45px;
  font-size: 16px;
}

.has-feedback .form-control {
  padding-right: 42.5px;
}

.form-control-feedback {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #aaa;
}

.btn-primary {
  background-color: #3498db;
  border: none;
}

.btn-primary:hover {
  background-color: #2980b9;
}
