

nav .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
  color: white;
  text-decoration: none;
}


.nav-links a {
  text-decoration: none;
  font-family: 'Arial Narrow Bold', sans-serif;
  color: white;
  font-size: 20px;
}

.nav-container {
    background-color: #00a65a;
    border-bottom: 2px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
nav {

    height: 5% ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0% 4%;
}

.nav-links {
    text-align: right;
    flex: 1;
}

.nav-links li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
 
}

.nav-links a {
    text-decoration: none;
    font-family: 'Arial Narrow Bold';
    color:  white;
    font-size: 22px;
    
}
.nav-links a:hover {
    color: red;
  }



  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  


  .bg-main {
    background: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/job-search.jpg) no-repeat center center fixed !important; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
  }
  .index-head {
    padding: 10%;
    color: #fff;
    line-height: 150%;
  }
  
  .index-head > h1 {
    font-size: 60px;
  }
  .logo-bg {
    background-color: #00A65A !important;
  }
  
  .index-head > p {
    font-size: 32px;
  }
  
  .index-head > p > a {
    margin-top: 20px;
  }
  
  .latest-job {
    line-height: 150%;
  }
  
  .latest-job > h1 {
    font-size: 60px;
  }
  
  .candidate-img > img {
    width: 350px;
    height: 175px;
  }
  
  .company-img > img {
    width: 350px;
    height: 200px;
  }
  
  .about-text > p {
    font-size: 17px;
    line-height: 150%;
  }
  
  .margin-bottom-20 {
    margin-bottom: 20px;
  }
  
  .margin-top-50 {
    margin-top: 50px;
  }
  
  .margin-top-20 {
    margin-top: 20px;
  }
  
  .padding-5 {
    padding: 5%;
  }
  
  .padding-2 {
    padding: 2%;
  }
  .bg-white {
    background-color: #fff;
  }
  .margin-right-10 {
    margin-right: 10px;
  }
  
  .bg-c-yellow {
    background-color: #FFC;
  }
  
  .color-red {
    color: red;
  }
  
  .hide-me {
    display: none;
  }

  .content-wrapper {
    flex: 1;
  }
  
  .main-footer {
    background-color: #222d32;
    color: #b8c7ce;
    padding: 20px 0;
    font-size: 14px;
    text-align: center;
    border-top: 1px solid #ddd;
  }
    
  .main-footer a {
    color: #f39c12;
    text-decoration: none;
  }
    
  .main-footer a:hover {
    color: #e0b95b;
    text-decoration: underline;
  }
  