body {
    background-color: #000000;
    color: white;
    font-family: 'Hanken Grotesk', sans-serif;
    margin: 0;
    padding-bottom: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: dark black;
    padding: 16px 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo img {
    height: 28px;
    width: auto;
}


.nav-links {
    display: flex;
    gap: 24px;
}

.nav-links a {
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: red;
}


.auth-links {
    display: flex;
    gap: 20px;
}

.auth-links a {
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.auth-links a:hover {
    color: red;
}


.btn {
    background-color: #1e90ff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #1c86ee;
}


.footer {
    text-align: center;
    padding: 40px 20px;
    background-color: #000; /* Black background */
    color: white;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer input {
    width: 80%;
    max-width: 500px;
    padding: 15px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #222; /* Dark input field */
    color: white;
    text-align: left;
}

.footer p {
    margin-top: 20px;
    font-size: 14px;
    color: #aaa;
}
